@media print {
  html,
  body {
    height: auto !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }

  body {
    padding: 0 !important;
  }

  /* Hide UI controls during print */
  .no-print {
    display: none !important;
  }

  /* Print grid */
  .print-page {
    margin: 0 !important;
    box-shadow: none !important;
  }
}
